<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library_project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library_project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
            <ul class="navbar-nav d-flex justify-content-center align-content-center">
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Gatunek" asp-action="Index">Gatunki</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Wydawnictwo" asp-action="Index">Wydawnictwa</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Ksiazka" asp-action="Index">Książki</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Egzemplarz" asp-action="Index">Egzemplarze</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Autor" asp-action="Index">Autorzy</a></li>
            

            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Home" asp-action="Logout" method="post">
                    <input type="submit" class="btn btn-primary text-white text-center align-self-center" value="Wyloguj się" />
                </form>
            }

        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
