﻿@{
    ViewData["Title"] = "Index";
}

<div class="container d-flex flex-column justify-content-center align-content-center mt-auto">
    <h1 class="text-center mb-4">Witaj, @User.Identity.Name</h1>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}